 {{>header}}

<div>
  <br>
  <br>
  <br>
  <br>
</div>

{{>calender}}

<!-- Uses built-in `if` helper. -->
{{#if showTitle}}
<h1>Home</h1>
{{/if}}

<div class="col s6">
  {{#each orgs}}
  <div class="row">
    <div class="card">

      <div "sidebar" id="content-container">      
        <img class="activator" src="http://web.alsa.org/images/content/pagebuilder/volunteer413887.png" style="width:60px">
        <br>
        <form action=“/events/{{this.org_name}}{{this.org_activity}}?_method=PUT” method=“POST”>
          <div class=‘eventActivity> <br>{{this.org_name}}<div></div>{{this.org_activity}}</div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" id="displayDate" src="http://web.alsa.org/images/content/pagebuilder/volunteer413887.png"
          style="width:200px">
          {{!--
          <form action=“/burgers/:id” method=“PUT” from the controllers file> --}}
            <form action=“/events/{{this.org_date}}?_method=PUT” method=“POST”>
              <div class="eventDate" id="dateDiv" data-myval={{this.id}}>{{this.org_date}}</div>
              

              <i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title
          <i class="material-icons right">close</i>
        </span>
        <p>Name email zip code.</p>

      </div>

    </div>
  </div>
  {{/each}}



</div>
</div>
</div>

</form>



</div>



{{>footer}}